<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header class="w-screen bg-zinc-900 flex justify-around items-center">
        <div class="logo">
            <h1 class="text-white w-1/4 cursor-pointer">Welcome</h1>
        </div>
        <nav class="text-white w-3/4">
            <ul class="flex w-full justify-around ">
                <li>
                    <a href="/">
                        home
                    </a>
                </li>
                <li>
                    <a href="https://todonotes-pe77.onrender.com/">
                        TodoNotes
                    </a>
                </li>
                <li>
                    <a href="/about">
                        Anout us
                    </a>
                </li>
                <li>
                    <a href="/contact">
                        Contact us
                    </a>
                </li>
                <li>
                    <a href="/singup">
                        Singh-in
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- <div class="bg-zinc-800 w-screen h-screen flex justify-center items-center min-h-0">
        
    </div> -->
</body>
</html>